@import './_variables.scss';

.search {
  font-size: $searchbarText;
  font-family: $fontTitle;
  width: 90%;
  height: 40px;
  border: 1px solid $color-secondary;
  border-radius: $border-radius-size;
  padding: 9px;
}

.search:focus {
  outline: none;
}

.submit-btn {
  position: relative;
  top: 2px;
  left: -5px;
  width: 50px;
  height: 40px;
  border: 1px solid $color-secondary;
  border-radius: 0px  $border-radius-size $border-radius-size 0px;
}